# dependencies
node_modules/

# Next.js
.next/
out/

# Database (keep schema, ignore the actual db file)
#data/*.db
#data/*.db-shm
#data/*.db-wal

# env files
.env
.env.local
.env.production.local

# misc
.DS_Store
*.log
